mat-card {
  max-width: 400px;
  margin: 20px;
}

.answer {
  width: 150px;
}

.result-card {
  background-color: rgba(152, 251, 152, 0.32);
  max-width: 600px;
  max-height: 120px;
}

.score {
  max-width: 100%;
  align-items: center;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
}
